:root {
  --color1: #C9DABF;
  --color2: #9CA986;
  --color3: #808D7C;
  --color4: #5F6F65;
}

@font-face {
  font-family: butler;
  src: url(./Butler_Black.otf);
}

body {
  height: 100vh;
  background-color: var(--color3);
  margin: 0;
}

.header {
  background-color: #555;
  opacity: 0.8;
  margin: 0 0 50px 0;
  padding: 5px;
  font-family: butler;
}

h1 {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  box-sizing: border-box;
  border: 1px dotted var(--color2);
  height: 70%;
  width: 90%;
  margin: auto;
  
  display: grid;
  grid-template: 1fr 1fr / repeat(auto-fit, 250px);
  overflow-y: auto;

  background-color: var(--color4);
  padding: 10px;
}

.book-card {
  background-color: var(--color2);
  padding: 20px;
  display: grid;
  justify-items: left;
  align-items: center;

  border: 2px solid var(--color1);
}



.book-card .bottom-div{
  justify-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read {
  background-color: green;
  color: white;
}

.not-read {
  background-color: #AE4343;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.8);
}

.del-button {
  background-color: #AE4343;
  color: white;
  justify-self: end;
  border-radius: 5px;
}

button#add-book {
  background-color: var(--color4);
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: roboto;
  padding: 8px 16px;
  margin: 50px 5%;
}

#modal {
  border: 2px solid var(--color1);
  background-color: var(--color4);
  color: white;
  font-family: roboto;
}

#modal div {
  margin: 35px 5px;
}

#modal button {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 16px;
}

#modal #form-cancel {
  background-color: var(--color3);
}
